@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif; }

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px; }
  .articles__header {
    background-color: #eee;
    padding: 32px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }
    @media (min-width: 1024px) {
      .articles__header {
        display: flex;
        background-color: #eee;
        justify-content: space-around; } }
  .articles__heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px; }

.search {
  display: flex;
  flex-direction: column;
  margin-right: 30px; }
  .search__label {
    margin-right: 30px; }
  .search__input {
    margin-top: 5px;
    margin-right: 30px;
    padding: 5px 10px;
    width: 200px;
    border: none;
    border-bottom: 2px solid #ccc; }
    .search__input:focus {
      outline: none;
      border-bottom-color: #da6f6f; }
    .search__input::-webkit-input-placeholder {
      color: #333; }
  .search__button {
    padding: 5px 32px;
    border: 4px solid #a14a4a;
    border-radius: 5px;
    background-color: #a14a4a;
    color: #fafafa;
    transition: background-color .2s;
    margin-top: 20px; }
    @media (min-width: 720px) {
      .search__button {
        margin-right: 30px;
        margin-left: 50px;
        margin-top: 0; } }
    .search__button:hover {
      cursor: pointer;
      background-color: #da6f6f;
      border-color: #da6f6f; }

.sort-by {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px; }
  @media (min-width: 720px) {
    .sort-by {
      margin-bottom: 0; } }
  .sort-by__label {
    margin-right: 30px; }
  .sort-by__select {
    margin-top: 5px;
    padding: 5px 10px;
    width: 200px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none; }
    .sort-by__select:hover {
      outline: none; }

@media (min-width: 720px) {
  .event-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; } }

.hide {
  display: none; }

