@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');

$bgColor: #fafafa;
$maxWidth: 1200px;
$marginRight: 30px;
$padding: 5px 10px;
$fontFamily: 'Montserrat', sans-serif;
$phoneMediaWidth: 720px;
$tabletMediaWidth: 1024px;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $bgColor;
    font-family: $fontFamily;
    overflow-x: hidden;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $maxWidth;
    
    &__header {
        background-color: #eee;
        opacity: 0.8;
        padding: 32px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        @media (min-width: $tabletMediaWidth) {
            display: flex;
            background-color: #eee;
            justify-content: space-around;
        }
        
    }

    &__content {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      justify-items: center;
      align-items: center;
      margin-top: 350px;
      width: 100vw;

      @media (min-width: $phoneMediaWidth) {
        margin-top: 200px;
      }

      @media (min-width: $tabletMediaWidth) {
        margin-top: 150px;
      }
    }

    &__heading {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }
}

.search {
    display: flex;
    flex-direction: column;
    margin-right: $marginRight;

    &__label {
        margin-right: $marginRight;
    }
    
    &__input {
        margin-top: 5px;
        margin-right: $marginRight;
        padding: $padding;
        width: 200px;
        border: none;
        border-bottom: 2px solid #ccc;

        &:focus {
            outline: none;
            border-bottom-color: rgb(218, 111, 111);;
          }
          
        &::-webkit-input-placeholder {
            color: #333;
          }
    }
    
    &__button {
        padding: 5px 32px;
        border: 4px solid rgb(161, 74, 74);
        border-radius: 5px;
        background-color: rgb(161, 74, 74);
        color: #fafafa;
        transition: background-color .2s;
        margin-top: 20px;

        @media (min-width: $phoneMediaWidth) {
            margin-right: $marginRight;
            margin-left: 50px;
            margin-top: 0;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(218, 111, 111);
            border-color: rgb(218, 111, 111);
        }
    }
    
}

.sort-by {
    display: flex;
    flex-direction: column;
    margin-right: $marginRight;
    margin-bottom: 20px;

    @media (min-width: $phoneMediaWidth) {
        margin-bottom: 0;
    }

    &__label {
        margin-right: $marginRight;
    }

    &__select {
        margin-top: 5px;
        padding: $padding;
        width: 200px;
        border: none;
        border-bottom: 2px solid #ccc;
        outline: none;

        &:hover {
            outline: none;
        }
    }
}

@media (min-width: $phoneMediaWidth) {
 
    .event-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.article {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 32px;
    min-height: 620px;
    transition: box-shadow .3s ease-in;
    position: relative;
}


.article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.article__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article__image {
    max-width: 400px;
    max-height: 200px;
    margin: 20px;
}

.article__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article__date {
    font-weight: bold;
    font-style: italic;
}

.article__link {
    position: absolute;
    top: 570px;
    text-decoration: none;
    color: rgb(170, 54, 54);
}


.article__link:hover {
    color: rgb(207, 92, 92);
}

.hide {
    display: none;
}

.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 50px auto;

  &__button {
    padding: 5px 32px;
    border: 4px solid rgb(161, 74, 74);
    border-radius: 5px;
    background-color: rgb(161, 74, 74);
    color: #fafafa;
    transition: background-color .2s;
    margin-top: 20px; 

    &:hover {
      cursor: pointer;
      background-color: rgb(218, 111, 111);
      border-color: rgb(218, 111, 111);
    }
  }

    /* Lodaer */

  &__loader {
    color: rgb(170, 54, 54);
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}

